@model ContactViewModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutContact.cshtml";
}

<h1>Contact</h1>

	<!-- [ auth-signin ] start -->
	<div class="auth-wrapper">
		<div class="auth-content text-center">
			<img src="assets/images/logo.png" alt="" class="img-fluid mb-4">
			<div class="card borderless">
				<div class="row align-items-center ">
					<div class="col-md-12">
						<div class="card-body">
							<h4 class="mb-3 f-w-400">Giris Yap</h4>
							<hr>
							<form asp-controller="Account" asp-action="Login" method="post">
								<div class="text-danger" asp-validation-summary="All"></div>

								<div class="text-danger" asp-validation-summary="All"></div>

								<div class="form-group">
									<label>Ad:</label>
									<input type="text" class="form-control" asp-for="Name" />

								</div>
								<div class="form-group">
									<label>Soyad:</label>
									<input type="text" class="form-control" asp-for="SurName" />
								</div>
								<div class="form-group">
									<label>Soyad:</label>
									<input type="text" class="form-control" asp-for="SurName" />
								</div>
							<div class="form-group">
								<label>Soyad:</label>
								<input type="text" class="form-control" asp-for="SurName" />
							</div>
							<div class="form-group">
								<label>Soyad:</label>
								<input type="text" class="form-control" asp-for="SurName" />
							</div>
							<div class="form-group">
								<label>Soyad:</label>
								<input type="text" class="form-control" asp-for="SurName" />
							</div>
							<div class="form-group">
								<label>Soyad:</label>
								<input type="text" class="form-control" asp-for="SurName" />
							</div>

								<div class="form-group">
									<button type="submit" class=" btn btn-info">GIRIS YAP</button>
								</div>
							</form>
							<hr>
							<p class="mb-2 text-muted">Sifremi unuttum? <a href="auth-reset-password.html" class="f-w-400">Sifirla</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


