@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutPetikoyVeterinary.cshtml";
}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-lg-start">
                <h1 class="display-1 text-uppercase text-dark mb-lg-4">Petikoy Veterinary</h1>
                <h1 class="text-uppercase text-white mb-lg-4">Make Your Pets Happy</h1>
                <p class="fs-4 text-white mb-lg-4">
                    WELCOME to our online store! We offer various quality products for your lovely companions. We provide a vast range of pet articles, pet accessories and a lot more!
                <p class="fs-4 text-white mb-lg-4">
                    Take a look around and we hope you can find what you are looking for!
                </p>
                    
                </p>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a asp-controller="Home" asp-action="About" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Read More</a>
                    <a asp-controller="Home" asp-action="ContactClinic" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Pet Manager</a>
                    <a asp-controller="Admin" asp-action="Login" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Veterinary</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
